.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.experiencia .subtitulo {
  color: #b3b3b3;
}

.experiencia-texto {
  text-align: justify;
  text-indent: 15px;
  font-size: 1.5rem;
  font-weight: 350;
  font-variant: small-caps;
  line-height: 1.2;
  max-width: 50ch;
  color: #525252;
}

.experiencia-texto strong {
  color: black;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .experiencia .subtitulo {
    color: black;
  }
  .experiencia-texto {
    font-size: 1.2rem;
    max-width: 800px;
  }
}