.header {
  max-width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
}

.logo {
  margin-top: -15px;
  color: black;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  font-family: monospace, Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.438);
  border-radius: 5px;
  padding: 5px;
  margin-left: 200px;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.header a {
  background: #e6e4e4;
  border-radius: 20px;
}

.lang-menu {
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
  position: relative;
  margin-right: 20px;
}

.lang-menu .selected-lang {
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 25px;
  position: relative;
  cursor: pointer;
}

.lang-menu .selected-lang:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu .caret {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.lang-menu ul {
  margin: 0;
  padding: 5px;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  z-index: 1;
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
  font-variant: small-caps;
  font-size: 0.9rem;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.en::before {
  background-image: url("https://flagsapi.com/US/shiny/32.png");
}

.br::before {
  background-image: url("https://flagsapi.com/BR/shiny/32.png");
}

.lang-menu:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.lang-menu ul li:first-child {
  padding-top: 0;
}
.lang-menu ul li:last-child {
  padding-bottom: 0;
}
.lang-menu ul li:not(:first-child):not(:last-child) {
  padding: 5px 10px;
  border-top: 1px solid #f8f8f8;
}
.lang-menu ul li:hover:not(:first-child):not(:last-child) {
  background-color: transparent;
}
.lang-menu ul li a {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
  }
  .header-menu a {
    padding: 10px 20px;
    display: block;
  }
  .header-menu a:last-child {
    margin-top: 10px;
  }
  .logo {
    margin-left: 20px;
    margin-top: 10px;
  }
  .lang-menu {
    margin-top: 60px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 5px;
  }

  .logo {
    font-size: 2.5rem;
    margin-left: 5px;
    margin-top: 10px;
  }

  .header-menu {
    width: 100%;
  }

  .header-menu a {
    font-size: 0.9rem;
    padding: 5px 10px;
  }

  .lang-menu{
    margin-right: 35px;
  }

  .lang-menu .selected-lang {
    width: 100%;
    text-align: center;
  }

  .lang-menu ul li a {
    font-size: 0.8rem;
    padding: 5px;
  }

  .lang-menu ul {
    top: 70px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media only screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
  }
  .header-menu a {
    padding: 10px;
    margin: 5px 0;
    text-align: center;
  }

  .logo {
    margin: 5px;
    text-align: center;
  }

  .lang-menu{
    margin-left: 310px;
    margin-top: -40px;
  }
}

@media (max-width: 375px) {
  .lang-menu{
    margin-top: -40px;
    margin-left: 260px;
  }
}

@media (max-width: 320px) {
  .header {
    background-color: white;
  }
  .logo {
    margin-right: 5px;
  }
  .lang-menu{
    margin-top: -40px;
    margin-left: 210px;
  }
}