@import url(global.css);
@import url(header.css);
@import url(intro.css);
@import url(exp.css);
@import url(formacao.css);
@import url(footer.css);

@font-face {
  font-family: sans-serif;
  src: url("");
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.subtitulo {
  font-size: 7rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
  font-weight: 900;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}
